.header {
    display: flex;
    justify-content: center;
    align-items: center;    
    text-transform: uppercase;
    height: fit-content;
    height: 40px;
    padding-top: 50px;
    font-size: 40px;
}

.buttons {
    display: flex;
    justify-content: space-around
}