.button {
    transition: opacity 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 12px;
    border-bottom: none;
    cursor: pointer;
}
.button>p>img{
    width: 15px;
    height: 15px;
}
.button>p{
display: flex;
align-items: center;
}
.button:hover {
    box-shadow: 0px 0px 1px 2px rgba(2, 35, 13, 0.457) inset;
}
.button:focus {
    opacity: 80%;
}

.buttonType_primary {
    background-color: #7ab6a3;
    color: rgb(255, 255, 255);
}
.buttonType_default {
    color: #476e61;
    background-color: rgba(240, 248, 255, 0.884);
}
.buttonType_default>p{
color: #476e61;
}
.buttonType_text {
    color: #ffffff;
    background: none;
    /* border: #7ab6a3 1px solid; */
}

.buttonShape_square {
    padding: 4px 8px;
    border-radius: 10px;
    height: 20px; 
}
.buttonShape_round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.buttonShape_round:hover {
    box-shadow: 0px 0px 0px 1px #7ab6a3;
}
.buttonShape_round>img {
    width: 25px;
    height: auto;
}