
.cards {
    /* TODO: настроить размер, добавить ховер */
    /* display: grid;
    justify-items: center; */
    margin: 30px 10px;
    background: url(./../public/bg_tea_div.png);
    height: fit-content;
    height: 500px;
    border-radius: 15px;
    font-size: 20px;
}