.userBasket_card {

    /* TODO: сделать компонетом? */
    display: grid;
    justify-items: center;
    margin: 30px 10px;
    background: url(./../public/bg_tea_div.png);
    height: 300px;
    border-radius: 15px;
    font-size: 20px;
    padding: 15px;
}