.app {
  display: flex;
  width: 1200px;
  justify-items: center;
  color: aliceblue;
  width: 1200px;
  /* TODO:неправильно работает -изменить hv*/
  height: 100%;

}

.container-page {
  margin-top: 15px;
  background-color: #262f2c;
  padding: 30px 45px;
  width: 1125px;
  margin-top: 230px;
}

.buttonUp {
  position: fixed;
  z-index: 1;
  top: 290px;
  left: 1250px;
}
